<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Waterfall Layout</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>


<script type="text/template" id="template">
    <h1>APP 永久二维码</h1>
    <div id="notice" class="off"></div>
    <div id="cells"></div>
    <div id="loader"><span>loading</span></div>
    <p><a href="#"><img src="{{src}}" height="{{height}}" width="{{width}}" /></a></p>
    <h2><a href="#">{{title}}</a></h2>
    <span class="like">Like!</span>
    <span class="mark">Mark!</span>
</script>

<script>var isGithubDemo = false;</script>
<script src="./font/font.min.js"></script>
<script src="./app-qrcode.js"></script>
</body>
</html>